# .env.example
SERVER1_PRIVATE_IP=
SERVER2_PRIVATE_IP=
SERVER3_PRIVATE_IP=
SERVER4_PRIVATE_IP=

MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=

# KakaoPay 결제 설정
KAKAOPAY_BASE_URL=https://open-api.kakaopay.com
KAKAOPAY_SECRET_KEY=
KAKAOPAY_CID=TC0ONETIME
KAKAOPAY_APPROVAL_URL=https://tickle-ticket.co.kr/api/v1/payments/kakaopay/approve
KAKAOPAY_FAIL_URL=https://tickle-ticket.co.kr/api/v1/payments/kakaopay/fail
KAKAOPAY_CANCEL_URL=https://tickle-ticket.co.kr/api/v1/payments/kakaopay/cancel
KAKAOPAY_SUCCESS_REDIRECT_URL=https://tickle-ticket.co.kr/swagger-ui.html
KAKAOPAY_METHOD_SELECTION_REDIRECT_URL=https://tickle-ticket.co.kr/swagger-ui.html